body{
    background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(background);
    background-size: cover;
    background-position: center;
    }
.login-box{
    background: yellow;
    max-width: 800px;
    margin: 140px auto;
    padding: 30px;
    color: black;
    font-family: cursive;
}
.login-left{
    background: beige;
    padding: 30px;
}
.login-right{
    background:gainsboro;
    padding:30px;
}
.form-control{
    background-color: transparent !important;
}
h2{
    color: yellow; 
}
h3{
    color:black;
}
input[type=text] {
    border-color: black;
}
input[type=password] {
    border-color: black;
}
input{
    color:black;
    background: yellow;
}

table{
    width:100%;
    border: 1px solid white;
    font-family:serif;
    color: white;
    background: rgba(211,211,211,0.5);
    padding:10px 10px;
}


